<%= render 'shared/nav', title: 'Register', back: {show: true, path: root_path}, show_menu: false %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class= 'd-flex flex-column gap-1 mt-3'>
    <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name*", placeholder: "Full Name", class: 'text-input' %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email*", placeholder: "Email", class: 'text-input' %>

    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password* (#{@minimum_password_length} characters minimum)", class: 'text-input' %>

    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password*", class: 'text-input' %>

    <section class="action-section p-3 gap-1">
      <%= f.submit "Sign up", class: 'btn-prim ' %>
    </section>
  </div>

<% end %>
