<%= render 'shared/nav', title: 'Login', back: {show: true, path: root_path}, show_menu: false %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class= 'd-flex flex-column gap-1 mt-4'>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: 'text-input'  %>
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'text-input'  %>
    
    <section class="action-section p-3 gap-1">
      <%= f.submit "Log in", class: 'btn-prim' %>
    </section>
  </div>
<% end %>

<%= button_to "Forgot passwrod?", new_user_password_path, method: :get, class:'btn-sec mt-2', style: 'text-transform: none; font-size: 13px !important' %>
