<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @expense.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @expense.amount %>
</p>

<p>
  <b>User:</b>
  <%= @expense.author %>
</p>


<%= link_to 'Edit', edit_group_expense_path(@expense.group, @expense) %> |
<%= link_to 'Back', group_expenses_path(@expense.group) %>
